[submodule "deps/first/Unreal"]
	path = deps/first/Unreal
	url = https://github.com/edp1096/UEPseudo
[submodule "deps/first/patternsleuth"]
	path = deps/first/patternsleuth
	url = https://github.com/trumank/patternsleuth
